
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    color: white;
    background-color: #618684;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border: 5px solid rgb(60, 56, 56);
}

h1 {
    text-align: center;
    background-color: beige;
    border-radius: 15px;
    padding: 10px;
    color: #434141;
    border: 3px solid #3c3838;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #3c3838;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.login-btn { background-color: #007bff; color: white; }
.vote-btn { background-color: #28a745; color: white; }
.res-btn { background-color: #007bff; color: white; }
.refresh-button { float: right; background-color: #dc3545; color: white; }


.Candidates {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    margin-top: 20px;
}

.Candidate {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.Candidate:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
}

.Candidate img {
    width: 100%;
    height: 100px;
    object-fit: contain; 
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
}

.Candidate label {
    cursor: pointer;
    font-weight: bold;
    display: block;
}

.Candidate input[type="radio"] {
    margin-bottom: 10px;
    transform: scale(1.2);
}


.buttons {
    text-align: center;
    margin-top: 20px;
}
#message, #result, #login-message {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
